main{
    margin-top: 4%;
}

#descripcion {
    width: 100%;
    height: 25vh;
}

.btn {
    width: 70%;
}

section {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
}

form {
    grid-column: 1;
}

.people {
    grid-column: 2;
}

.people .equipo {
    font-size: 27px;
    font-weight: 500;
    font-family: 'Merriweather', serif;
    font-weight: 900 !important;
}

.people {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 60vh;
    width: 90%;
    margin: 0 auto;
}

.people div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: left;
    gap: 4%;
    
    font-family: 'Merriweather', serif;
}

.people div img {
    max-width: 17%;
    max-height: fit-content;
}

.people div p span {
    font-weight: 1000;
    display: block;
    
}

.seccion-mapa {
    margin-top: 5vh;
    padding: 4vh 2vh;
    background-color: rgb(227, 239, 254);
    display: block !important;
}

.mapa-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.parrafo {
    padding-left: 6%;
    font-size: 20px;
}

.direccion {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.776);
    padding: 0 2%;
    border: 2px solid rgba(0, 0, 0, 0.53);
    border-bottom-left-radius: 12px;
    border-right: 0;
    border-top: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200 !important;
    font-size: 18px;
}

.form-control, .form-select, textarea {
    border: 1px solid #ced4da;
    transition: border-color 0.2s ease-in-out;
}

.form-control {
    border: 0;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.mensaje-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 18px;
}

.campo-error {
    border-bottom: 2px solid rgb(255, 0, 0) !important;
    border-color: rgb(255, 0, 0) !important;
}

.campo-correcto {
    border-bottom: 2px solid rgb(60, 255, 0) !important;
}

textarea.campo-error, input[type="checkbox"].campo-error {
    border: 1px solid rgb(255, 0, 0) !important;
}

.mensaje-feedback.error-texto {
    color: rgb(255, 0, 0);
}

p{
    margin-bottom: 5px;
    font-size: 19px;
}

@media (max-width: 780px) {
    p{
        margin-bottom: 5px;
        font-size: 16px;
    }

    #descripcion {
        resize: none;
        min-width: 92%;
        max-width: 95%;
        height: 20vh;
    }

    body {
        font-size: 17px;
    }

    section {
        display: none;
        display: flex !important;
        flex-direction: column;
    }

    .people {
        max-height: 45vh;
    }

    .people .equipo {
        font-size: 25px;
        font-weight: 500;
    }

    .people div p {
        top: 10px;
        left: 25%;
    }

    .mapa-container {
        width: 96%;
    }

    .direccion {
        top: 75%;
        bottom: 0;
        right: 0;
        border-radius: 0;
        border: 2px solid rgba(0, 0, 0, 0.53);
        border-top-left-radius: 15px;
        border-right: 0;
        border-bottom: 0;
        font-size: 17px;
    }

    h2 {
        font-size: 19px;
        font-family: 'Merriweather', serif;
        font-weight: 1000 !important;
    }

    .mensaje-feedback {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 17px;
    }

}

@media (max-width: 580px) {
    .people .equipo{
        font-size: 20px;
    }

    p{
        font-size: 14px;
    }
    .people div p {
        top: 10px;
        left: 26%;
    }

    .people {
        margin: 0;
        margin-top: 18px;
        margin-left: 10px;
    }

    .mensaje-feedback {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 14px;
    }
}