#descripcion {
    width: 100%;
    height: 25vh;
}

.btn {
    width: 70%;
}

section {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
}

form {
    grid-column: 1;
}

.people {
    grid-column: 2;
    margin-top: 7vh;
}

.people .equipo {
    font-size: 26px;
    font-weight: 500;
}

.people div {
    position: relative;
    margin-bottom: 5vh;
}

.people div p {
    position: absolute;
    top: 0;
    left: 13vh;
}

.seccion-mapa {
    margin-top: 5vh;
    padding: 4vh 2vh;
    background-color: rgb(227, 239, 254);
    display: block !important;
}

.mapa-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.parrafo {
    padding-left: 6%;
}

.direccion {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.776);
    padding: 0 2%;
    border: 2px solid rgba(0, 0, 0, 0.53);
    border-bottom-left-radius: 12px;
    border-right: 0;
    border-top: 0;
}

@media (max-width: 576px) {
    #descripcion {
        resize: none;
        min-width: 92%;
        max-width: 95%;
        height: 20vh;
    }

    body {
        font-size: 0.875rem;
    }

    section {
        display: none;
        display: flex !important;
        flex-direction: column;
    }

    .people {
        margin-left: 4%;
    }

    .people .equipo {
        font-size: 20px;
        font-weight: 500;
    }

    .people div p {
        top: 10px;
        left: 25%;
    }

    .mapa-container {
        width: 96%;
    }

    .direccion {
        top: 83vh;
        bottom: 0;
        right: 0;
        border-radius: 0;
        border: 2px solid rgba(0, 0, 0, 0.53);
        border-top-left-radius: 15px;
        border-right: 0;
        border-bottom: 0;
    }

    h2 {
        font-size: 20px;
    }

}

@media (max-width: 480px) {
    .people div p {
        top: 10px;
        left: 26%;
    }

    .people {
        margin: 0;
        margin-top: 18px;
        margin-left: 10px;
    }
}

@media (max-width: 376px) {
    .people div p {
        font-size: 13px;
        top: 10px;
        left: 29%;
    }

    .people {
        margin: 0;
        margin-top: 18px;
    }
}